name: Test Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up JDK 16
        uses: actions/setup-java@v4.5.0
        with:
          java-version: 16
          distribution: adopt

      - name: Build with Maven
        run: mvn package
